*.class
*.log

LsHserver/target
LsHserver/project/target/
LsHcore/target
LsHcore/project/target/
LsHScala3-vertx/target/
LsHScala3-vertx/project/target/
LsHScala3-akka/target/
LsHScala3-akka/project/target/


#javascript
# vim
*.swp

pixijs-client/node_modules

